.homepageMainContainer {
    display: flex;
    height: 100%;
}
.homepageMainContainer  > div:nth-child(1) {
    width: 70%;
}
.homepageMainContainer > div:nth-child(2) {
    width: 30%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    background-color: rgba(255, 255, 255, 0.181);
    backdrop-filter: blur(15px);
}