<div [class]="'weatherDisplayMainContainer'">
  <div>angular.weather</div>
  <div [class]="'weatherDisplayOuterContainer'">
    <div [class]="'degreesContainer'">
      <div>{{ (weatherObject?.main?.temp - 273.15).toFixed(0) }}°</div>
    </div>
    <div [class]="'locationDateContainer'">
      <div>{{ weatherObject?.name }}</div>
      <div>{{ date }}</div>
    </div>
    <div [class]="'weatherTypeDisplay'">
      <div>
        <span class="material-symbols-outlined"> cloudy </span>
      </div>
      <div>{{weatherObject?.weather?.[0]?.description}}</div>
    </div>
  </div>
</div>
