<div>
  <div [class]="'locationSearchContainer'">
    <div><input type="text" placeholder="Another Location" [(ngModel)]="location"/></div>
    <div (click)="handleApiCall()">
      <span class="material-symbols-outlined"> search </span>
    </div>
  </div>
  <div [class]="'cityListContainer'">
    <div [class]="'cityListContainerItems'" *ngFor="let city of cityList">
        {{city.name}}, {{city.state}}, {{city.country}}.
    </div>
  </div>
  <div [class]="'weatherDetailsContainer'">
    <div>
        Weather Details
    </div>
    <div [class]="'moreDetailsContainer'">
        <div>
            <div>Cloudy</div>
            <div>86%</div>
        </div>
        <div>
            <div>Humidity</div>
            <div>62%</div>
        </div>
        <div>
            <div>Wind</div>
            <div>8km/h</div>
        </div>
    </div>
  </div>
</div>
